*{  
    margin: 0;
    padding: 0; 
    scroll-behavior: smooth;
}
body{
    background-image: linear-gradient( to right,  rgba(32,38,57,1) 11.4%, rgba(63,76,119,1) 70.2% );
    font-family: sans-serif; 
    
}
.language{
    display: flex;
    align-items: center;
    
}
.language img{
    width: 25px;
    margin-right: 10px;
    
}
.language p{
    margin-right: 10px;
    color: white;
}
.menu{
    position: fixed;
    width: 100vw;
    display: flex;
    justify-content:space-around;
    flex-wrap: wrap;
    align-items: center;
    border-bottom: 2px solid rgba(255, 255, 255, 0.3);
    z-index: 2; 
}

.menu ul{
    display: flex;
    align-items: center;
    
    
}
.menu ul li{
    display: inline-block;
    margin-right: 30px;
    transition: 0.4s;
    font-size: 20px;
    color: white;
    
}
.menu ul li a{
    text-decoration: none;
    
}
.menu ul li:hover{
    color: rgb(255, 255, 150);
    text-decoration: underline;
    transform: scale(1.2);
  
       
}
.logo{
    font-size: 35px;
    letter-spacing: 5px;
    transition: 0.3s;
    padding: 10px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    
       
}

.mid{
    color: white;
    margin-left: 400px;
    margin-top: 450px;
    height: 100vh;
    
    
}
.mid h1{
    font-size: 80px;
    font-family: 'Montserrat', sans-serif;  
    width: fit-content;  
}
.mid h2{
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    transition: 0.5s;
    width: fit-content;
    
}
.mid h2:hover{
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    -webkit-transform: rotateZ(360deg);
    transform: rotateZ(360deg);
    cursor: pointer;
    color: rgb(255, 255, 150);
    
}
.container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    
}
.habilidades{
    position: relative;    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 100vh;
    z-index: 1;
}
.habilidades .card{
    position: relative;
    width: 200px;
    height: 300px;
    margin: 30px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    overflow: hidden;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.3);
    transition: 0.3s;
    padding: 15px;
  
    
}
.habilidades h2{
    color: white;
    font-size: 50px;
    font-family: 'Montserrat', sans-serif;  
}
.habilidades img{
    width: 80px;
    margin-top: 110px;
    transition: 0.3s;
    
    
}

.card:hover{
    transform: scale(1.1);
   
}
.content{
    color: white;
    font-family: 'Montserrat', sans-serif;
    padding: 10px;
    opacity: 0;
    transition: 0.5s;
    
}
.card:hover .content{
    transform: translateY(0px);
    opacity: 1;
   
}
.card:hover img{
    margin-top: 0px;
    opacity: 1;   
}
.content p{
    font-size: 13px;
}
span{
    color: rgb(255, 255, 0);
    transition: 0.3s;
}
span:hover{
    text-decoration: underline;
    cursor: pointer;
    
}
#projetos img{
    width: 150px; 
    margin-top: 40px;
    transition: 0.3s;

}
#projetos .card{
    width: 200px;
    height: 200px;
}
#projetos .content{
    opacity: 1;
}
#projetos p{
    margin-top: 10px;
    font-size: 20px;
    text-align: center;
    
}
#projetos a{
    color: white;
    font-size: 20px;
}
#contatos{
    flex-direction: column;
}

#contatos .card{
    justify-content: center;
    
    
}
#contatos .content{
    opacity: 1;
    text-align: center; 
    padding: 10px;
    
}
#contatos .content button{
    font-size: 15px;
    padding: 5px;
    margin-top: 5px; 
    transition: 0.5s;   

}
#contatos .content button:hover{
    background-color: rgb(0, 0, 0); 
    color: white; 
    border-radius: 10px; 

}
#contatos .content input{
    margin-bottom: 10px;
}
#form{
    width: 200px;
    height: 300px;

}
#email{
    width: 250px;
    height: 150px;
}

#email a{
    color: white;
    text-decoration: none;
    text-transform: none;

}
#tel{
    width: 250px;
    height: 150px;
}
#tel a{
    color: white;
    text-decoration: none;
    text-transform: none;
}
 

.copy p{
    color: white;
    text-align: center
    ;
}

@media (max-width: 1450px){
    
    .habilidades .card{
        width: 150px;
        height: 200px;
    }
    .habilidades h2{
      margin-top: 100px; 
    }
    .mid{
        margin-left: 100px;
        margin-top: 500px;
    }
    .content p{
        font-size: 9px;
    }
    img{
        width: 60px;        
        transition: 0.3s;
        margin-bottom: 0;
               
    }
    .content{
        padding: 5px;
    }
    #form{
        width: 200px;
        height: 300px;
    
    }

}
@media (max-width: 500px){
    .menu{
        position: absolute;
        width: 100%
    }
    .menu ul li{
        font-size: 15px;
    }
    .mid{
        margin-left: 10px;
        margin-top: 500px;
    }
    .mid h1{
        font-size: 50px;
        font-family: 'Montserrat', sans-serif;  
        width: fit-content;  
    }
    .mid h2{
        font-size: 15px;
        font-family: 'Montserrat', sans-serif;
        transition: 0.5s;
        width: fit-content;
        
    }
    .habilidades{
        height: 100%;
    }
   
}
@media (max-width: 375px){
    .menu{
        justify-content: center;
    }
    .language img{
        width: 15px;
        
        
    }
    .language p{
        font-size: 12px;
    }
}

